@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OCAPE</h1>
    <p class="lead">Test your code and see how well it performs! Compete against other people in optimisation problems! Settle the "which language is faster" debate for your favourite task!</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Supported evaluators</h2>
        <p>
            OCAPE can compile and evaluate C++, C#, Java and Python code. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Latest tasks</h2>
        <p>(TODO)</p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Try your hand at tasks and see how well your code performs!</p>
        <a href="/Account/Register">Do it now!</a>
    </div>
</div>